/* pc */
@media (width : 1024px){
    /* .header__menu__search{
        top: 18%;
        right: 5%;
    } */
}
/* tablet */
@media (min-width: 768px) and (max-width : 1023px){
    .container{
        width: 1220px;
        padding: 0 40px;
    }
    .header__menu__logo{
        padding: 16px;
    }
    .header__search{
        top: 10%;
        right: 2%;
    }
    .header__menu__navtop ul{
        margin: 0 0 16px 0;
    }
    .header__menu__nav ul li {
        margin: 0 8px 0 0;
    }
    .slider__title{
        font-size: 2.4rem;
        font-weight: 900;
    }
    .slider__content{
        text-align: center;
        top: 20%;
        width: 85%;
    }
    .slier__text__title{
        font-size: 2rem;
    }
    .slider__text__btn{
        float: unset;
        transform: translateY(0);
        margin: 32px 0;
    }
    .news__top{
        /* display: block; */
    }
    .news__top__item{
        width: 47%;
        height: auto;
        margin-right: 16px;
        margin-bottom: 32px;
    }
    .news__item__content{
        height: 260px;
    }
    .news__mobile__btn{
        bottom: 1%;
    }
    .banner{
        min-height: 320px;
        background-color: #0e5a61;
    }
    .banner__img{
        display: none;
    }
    .banner__mobile__img{
        width: 100%;
        display: none;
    }
    .banner__content{
        padding: 0 32px;
        width: 100%;
        left: 0;
    }
    .banner__title{
        font-size: 2.4rem;
    }
    .banner__desc{
        width: 75%;
    }
    
    .contact__content{
        width: 100%;
    }
    .contact__row{
        margin-top: 5px;
    }
}

/* mobile */
@media (min-width:320px) and (max-width : 767px){
    .container{
        padding: 0 20px;
        width: 1180px;
        max-width: 100%;
    }
    /* css mobile header */
    .header{
        /* position: relative; */
        width: 100%;
        overflow: hidden;
    }
    .header__menu{
        flex-direction: column;
    }
    .header__menu__logo{
        display: inline-block;
        transform: translate(-10%, 10%);
        padding: 8px 0;
    }
    .header__logo{
        /* width: 85%; */
    }
    .header__menu__nav{
        display: none;
        text-align: left;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #0e4346;
        margin-top: 125px;
        /* overflow-y: scroll; */
    }
    .header__menu__navtop{
        order: 2;
        line-height: 1.4;
        border-bottom: 1px solid #005a61;
    }
    .header__menu__navbottom{
        order: 1;
        line-height: 1.4;
    }
    .header__menu__social{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        order: 3;
    }
    .header__menu__social a {
        text-decoration: none;
        color: #fff;
        padding: 16px 24px;
    }
    .header__menu__social a i{
        font-size: 1.8rem;
    }
    .header__menu__navtop ul{
        transform: translateX(55%);
        margin: 0;
        justify-content: flex-end;
    }
    .header__menu__navtop ul ,.header__menu__navbottom ul{
        flex-direction: column;
    }
    .header__menu__navbottom ul li{
        border-bottom: 1px solid #005a61;
    }
    .header__menu__navbottom ul li a,.header__menu__navtop ul li a{
        display: inline-block;
        width: 100%;
    }
    .header__menu__navbottom ul li a{
        padding: 25px 8px;
    }
    .header__menu__navtop ul li a{
        padding: 12px 0;
    }
    .header__search{
        position: unset;
        width: 100%;
        margin: 0;
        padding: 8px 0px;
        transform: translateX(5%);
    }
    .header__search__nav{
        display: none;
    }
    .header__search__menu{
        display: flex;
    }
    .header__menu__search{
        width: 70%;
    }
    .header__more__menu,.header__close__menu{
        display: block;
        right: 0%;
        top: 0;
        transform: translateY(50%);
    }
    .header__close__menu{
        display: none;
    }
    .header__more__menu a{
        padding: 22px 18px 15px 18px;
    }
    .header__more__menu a i{
        padding: 0;
    }
    /* css mobile slider */
    .slier{
        margin-top: 0;
    }
    .slider__mobile{
        display: block;
        background: #94d5da;
        width: 100%;
        height: 320px;
    }
    .slider__content{
        width: 100%;
        text-align: center;
        right: 0px;
    }
    .slider__title h1{
        font-size: 2.4rem;
        font-weight: 900;
    }
    .slider__desc{
        width: 100%;
        padding: 0 16px;
    }
    .slider__btn{
        width: 100%;
    }
    .slider__text__body{
        height: 300px;
    }
    .slider__text__btn{
        display: none;
    }
    .slider__mobile__btn{
        display: block;
        margin-top: 16px;
        margin-bottom: 32px;
        transform: translateY(0px);
        float: left;
        width: 100%;
    }
    /* news mobile css */
    .news__top{
        display: flex;
        flex-direction: column;
        /* width: 100%; */
        height: auto;
        display: block;
        /* flex-shrink: 0; */
    }
    .news__top__item{
        position: relative;
        margin-bottom: 24px;
        display: flex;
        width: 100%;
        height: 175px;
    }
    .news__item__img{
        height: 100%;
        width: auto;
    }
    .news__item__content{
        background-color: #0e5a61;
        line-height: 1.4;
        padding: 8px;
        width: 100%;
        height: auto;
    }
    .news__item__title{
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 8px;
    }
    .news__item__desc{
        display: none;
    }
    .news__mobile__desc{
        display: block;
        font-size: 1.4rem;
    }
    .news__item__btn{
        margin: 0;
        padding: 8px;
        font-size: 1.2rem;
        text-transform: none;
    }
    .news__main__video{
        width: 100%;
    }
    .news__videos__sub{
        display: none;
    }
    /* end news */
    /* banner */
    .banner{
        min-height: 400px;
    }
    .banner__img{
        display: none;
    }
    .banner__mobile__img{
        display: block;
        width: 100%;
        height: 446px;
    }
    .banner__content{
        width: 100%;
        left: 0;
        bottom: 100%;
    }
    .banner__title{
        padding: 32px 16px;
        width: 100%;
        font-size: 2.4rem;
        margin: 0 auto;
    }
    .banner__desc{
        width: 100%;
        padding : 0 16px;
    }
    .banner__btn{
        padding: 8px 12px;
    }
    /* end banner */
    /* begin about css */
    .about__news{
        display: block;
        margin-bottom: 32px;
    }
    .about__news__item{
        width: 100%;
    }
    .about__news__item:not(:first-child){
        display: none;
    }
    .about__news__btn{
        margin: 32px 0;
    }
    .about__content{
        display: none;
    }
    /* end about css */
    /* begin contact css */
    
    .contact__content{
        text-align: start;
        width: 100%;
    }
    .contact__form{
        text-align: start;
        flex-direction: column;
        justify-content: unset;
    }
    .contact__form__control{
        width: 83%;
    }
    .contact__form__controldob{
        width: 36%;
    }
    .contact__form__dobdd{
        display: none;
    }
    /* end contact css */
    /* begin  mobile footer css  */
    .footer__menu{
        flex-direction: column;
    }
    .footer__logo__img{
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    .footer__menu__row{
        display: none;
    }
    .footer__social{
        padding-top: 64px;
        flex-direction: row;
        padding-bottom: 32px;
        border-bottom: 1px solid #0e5a61;
        margin: 0 auto;
    }
    .footer__social a{
        margin: 0 8px;
    }
    .footer__menu__mobile{
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
        border-bottom:1px solid #0e5a61;
    }
    .footer__mobile__row a{
        text-decoration: none;
    }
    /* end mobile footer css */
    .show__more{
        display: flex;
    }
    .hide{
        display: none;
    }
    .show__close{
        display: block;
    }
    
}

/* mobile and tablet */
@media (min-width:321px) and (max-width :767px ) {
    .news__item__content{
        background-color: #0e5a61;
        line-height: 1.4;
        padding: 8px;
        width: 100%;
        height: auto;
    }
    .news__item__title{
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 8px;
    }
    .news__mobile__desc{
        display: block;
        font-size: 1.5rem;
    }
    .news__item__btn{
        margin: 0;
        padding: 8px;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
}