.container {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 18px;
  background-color: #f15f4e;
  color: #fff;
  display: inline-block;
}

.btn__white {
  background-color: #fff;
  color: #f15f4e;
}

@font-face {
  font-family: 'Campton Light DEMO';
  src: url("Campton-LightDEMO.eot");
  src: url("Campton-LightDEMO.eot?#iefix") format("embedded-opentype"), url("Campton-LightDEMO.woff2") format("woff2"), url("Campton-LightDEMO.woff") format("woff"), url("Campton-LightDEMO.ttf") format("truetype"), url("Campton-LightDEMO.svg#Campton-LightDEMO") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif;
  font-size: 1.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: 'Campton Light DEMO' sans-serif;
}

ol, ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.4rem;
}

h1, h2, h3, h4.h5.h6 {
  font-weight: 900;
}

.header {
  position: fixed;
  min-height: 132px;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 2;
  background-color: #0e5a61;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu__logo {
  padding: 36px 0 16px 0;
}

.header__menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__menu__navtop ul, .header__menu__navbottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu__navtop ul li, .header__menu__navbottom ul li {
  margin: 0 16px;
}

.header__menu__navtop ul li a, .header__menu__navbottom ul li a {
  color: #fff;
  text-decoration: none;
  padding: 12px 8px;
}

.header__menu__navtop ul li:hover, .header__menu__navbottom ul li:hover {
  text-decoration: underline;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.header__menu__navtop {
  line-height: 39px;
}

.header__menu__navtop ul {
  margin: 24px 0;
}

.header__menu__navtop ul li a {
  text-decoration: none;
  font-size: 1.4rem;
}

.header__menu__navtop ul input {
  border: none;
  padding: 12px;
}

.header__search {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 18%;
  right: calc((100% - 1080px) / 2);
  padding-right: 32px;
}

.header__icon__search {
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

.header__icon__search a {
  text-decoration: none;
}

.header__icon__search a:hover {
  opacity: 0.8;
  color: #fff;
}

.header__icon__search a i {
  padding: 10px 18px 15px 18px;
  background-color: #f15f4e;
  font-size: 1.6rem;
}

.header__search__menu {
  display: none;
}

.header__more__menu {
  display: none;
  position: absolute;
  top: 10%;
  right: 0;
}

.header__more__menu a {
  text-decoration: none;
  color: #f15f4e;
}

.header__more__menu a i {
  font-size: 3rem;
  padding: 10px 18px 15px 18px;
}

.header__menu__search {
  padding: 12px 8px;
  border: none;
}

.slider {
  margin-top: 132px;
  position: relative;
  width: 100%;
}

.slider__img {
  width: 100%;
}

.slider__bgimg {
  width: 100%;
  height: auto;
  display: block;
}

.slider__content {
  position: absolute;
  bottom: 42%;
  width: 35%;
  color: #fff;
}

.slider__mobile {
  display: none;
}

.slider__title {
  margin-bottom: 20px;
}

.slider__desc {
  margin-bottom: 20px;
}

.slider__btn a:hover {
  background-color: #0e5a61;
  color: #fff;
}

.slider__text {
  width: 100%;
  color: #fff;
  background-color: #f15f4e;
}

.slider__text__body {
  padding: 16px 0;
}

.slider__text__title {
  display: inline-block;
  margin-bottom: 8px;
}

.slider__text__desc {
  margin: 8px 0;
}

.slider__text__btn, .slider__mobile__btn {
  float: right;
  -webkit-transform: translateY(-65px);
          transform: translateY(-65px);
}

.slider__text__btn:hover, .slider__mobile__btn:hover {
  background-color: #0e5a61;
  color: #fff;
}

.slider__mobile__btn {
  display: none;
}

.news {
  width: 100%;
}

.news__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 32px 0;
}

.news__top__item {
  background-color: #0e5a61;
  color: #fff;
  width: calc(( 100% / 4 ) - 20px);
}

.news__item__img {
  width: 100%;
  height: auto;
}

.news__item__content {
  height: 320px;
  position: relative;
  padding: 16px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.news__item__title {
  margin-bottom: 16px;
}

.news__item__desc {
  margin-bottom: 8px;
}

.news__mobile__desc {
  display: none;
}

.news__top__btn {
  position: absolute;
  bottom: 4%;
}

.news__item__btn {
  margin: 24px 0 24px 0;
}

.news__item__btn:hover {
  background-color: #94d5da;
  color: #000;
}

.news__bottom {
  margin: 64px 0;
}

.news__bottom__title {
  color: #0e5a61;
  margin-bottom: 24px;
}

.news__bottom__videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__video__main {
  position: relative;
}

.news__main__video {
  display: inline-block;
  width: 97%;
}

.news__video__play {
  position: absolute;
  left: 46%;
  top: 41%;
  width: 7%;
}

.news__videos__sub {
  width: 26%;
}

.news__videos__subnews {
  width: 100%;
}

.news__video__playsub {
  position: absolute;
  -webkit-transform: translateY(130%);
          transform: translateY(130%);
  left: 73%;
  width: 2%;
}

.news__bottom__btn {
  text-align: center;
  margin: 24px 0;
  position: relative;
}

.news__btn {
  padding: 12px 16px;
}

.news__btn::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  border: 1px solid #f15f4e;
  z-index: -1;
}

.news__btn:hover {
  background-color: #0e5a61;
  color: #fff;
}

.about {
  width: 100%;
  height: auto;
}

.about__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 32px 0 64px 0;
}

.about__news__item {
  width: 32%;
}

.about__item__img {
  width: 100%;
}

.about__item__content {
  color: #055a61;
  margin: 24px 16px;
}

.about__news__date {
  color: #f25f74;
  opacity: 0.6;
}

.about__time__read {
  border-left: 1px solid #f25f74;
  padding-left: 5px;
}

.about__time__read i {
  color: #000;
  margin-right: 5px;
}

.about__item__title {
  margin: 16px 0;
}

.about__item__desc {
  margin-bottom: 16px;
}

.about__item__btn {
  color: #055a61;
}

.about__news__btn {
  position: relative;
  text-align: center;
  z-index: 1;
}

.about__news__btn a::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  border: 1px solid #f15f4e;
  z-index: -1;
}

.about__news__btn a:hover {
  background-color: #0e5a61;
}

.about__btn__rmn {
  margin-top: auto;
  padding: 12px 0;
}

.about__btn__rmn a {
  text-decoration: none;
  color: #055a61;
}

.about__btn__rmn:hover {
  text-decoration: underline;
}

.about__content {
  margin: 64px 0;
  color: #055a61;
}

.about__title {
  margin: 16px 0;
}

.about__desc {
  margin-bottom: 16px;
}

.about__desc a {
  color: #055a61;
}

.about__btn {
  padding: 10px 0;
  margin-top: 16px;
}

.about__btn a:hover {
  background-color: #0e5a61;
}

.banner {
  width: 100%;
  position: relative;
  margin-bottom: 64px;
}

.banner__img {
  width: 100%;
  height: 420px;
}

.banner__mobile__img {
  display: none;
}

.banner__content {
  width: 75%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 12.5%;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  color: #fff;
}

.banner__title {
  width: 50%;
  margin: 0 auto;
  padding: 32px 0;
}

.banner__desc {
  width: 50%;
  margin: 0 auto;
}

.banner__btn {
  margin-top: 32px;
}

.banner__btn:hover {
  background-color: #94d5da;
  color: #000;
}

.contact {
  background-color: #94d5da;
  width: 100%;
  text-align: center;
  padding-bottom: 64px;
}

.contact__content {
  width: 70%;
  margin: 0 auto;
}

.contact__title {
  padding: 64px 0 16px 0;
}

.contact__desc {
  margin-bottom: 32px;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact__form__email, .contact__form__name, .contact__form__gender {
  margin: 16px 0;
}

.contact__form__control {
  margin-top: 4px;
  padding: 8px 16px;
  width: 100%;
}

.contact__form__controldob {
  margin: 8px 0;
  width: 64px;
  padding: 8px 16px;
}

.contact__radio {
  margin: 16px 0;
}

.contact__radio__lable {
  margin: 0 8px;
}

.contact__btn__subscribe {
  margin-top: 32px;
  padding: 12px 24px;
  background-color: #0e5a61;
  color: #fff;
  text-transform: uppercase;
  border: none;
}

.contact__btn__subscribe:hover {
  background-color: #f15f4e;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.footer {
  width: 100%;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 64px 0;
}

.footer__logo__img {
  color: #055a61;
  width: 75%;
}

.footer__menu__mobile {
  display: none;
}

.footer__menu__row, .footer__mobile__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__menu__row a, .footer__mobile__row a {
  color: #055a61;
  padding: 16px 0;
  display: inline-block;
}

.footer__menu__row a:hover, .footer__mobile__row a:hover {
  opacity: 0.8;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__social a {
  margin: 8px 0;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 50px;
  background-color: #94d5da;
  color: #055a61;
}

.footer__social a i {
  font-size: 2rem;
}

.footer__social a:hover {
  background-color: #f15f4e;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */