.header{
    position: fixed;
    min-height: 132px;
    width: 100%;
    height: auto;
    top: 0;
    z-index: 2;
    background-color: $colorprimary;
    &__menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu__logo {
        padding: 36px 0 16px 0;
    }
    &__menu__nav{
        display: flex;
        flex-direction: column;
    }
    &__menu__navtop,&__menu__navbottom{
        ul{
            display: flex;

            li{
                margin: 0 16px;
                a{
                    color: #fff;
                    text-decoration: none;
                    padding: 12px 8px;
                }
                &:hover{
                    text-decoration: underline;
                    transition: 0.5;
                }
            }
        }
    }
    
    &__menu__navtop{
        line-height: 39px;
        
        ul{
            margin: 24px 0;
            li{
                a{
                    text-decoration: none;
                    font-size: 1.4rem;
                }
            }
            input{
                border:none;
                padding: 12px;
            }
        }
    }
    &__menu__navbottom{
    }
    &__search{
        position: absolute;
        display: flex;
        top: 18%;
        right: calc((100% - 1080px) / 2);
        padding-right: 32px;
    }
    &__icon__search{
        transform: translateY(15%);
        a{
            text-decoration: none;
            &:hover{
                opacity: 0.8;
                color: #fff;
            }
            i{
                padding: 10px 18px 15px 18px;
                background-color: $colorsub;
                font-size: 1.6rem;
            }
        }
    }
    &__search__menu{
        display: none;
    }
    &__more__menu,&__close__menu{
        display: none;
        position: absolute;
        top: 10%;
        right: 0;
        a{
            text-decoration: none;
            color:$colorsub;
            i{
                font-size: 3rem;
                padding: 10px 18px 15px 18px;
            }
        }
    }
    &__menu__search{
            padding: 12px 8px;
            border:none;
    }
    &__menu__social{
        display: none;
    }
}