.about{
    width: 100%;
    height: auto;
    &__news{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 32px 0 64px 0;
    }
    &__news__item{
        width: 32%;
    }
    &__item__img{
        width: 100%;
    }
    &__item__content{
        color: $colorcontact;
        margin: 24px 16px;
    }
    &__news__date{
        color: #f25f74;
        opacity: 0.6;
    }
    &__time__read{
        border-left: 1px solid #f25f74;
        padding-left: 5px;
        i{
            color: #000;
            margin-right: 5px;
        }
    }
    &__item__title{
        margin: 16px 0;
    }
    &__item__desc{
        margin-bottom: 16px;
    }
    &__item__btn{
        color: $colorcontact;
    }
    &__news__btn{
        position: relative;
        text-align: center;
        z-index: 1;
        a{
            @include borderline;
            &:hover{
                background-color: $colorprimary;
            }
        }
    }
    &__btn__rmn{
        margin-top: auto;
        padding: 12px 0;
        a{
            text-decoration: none;
            color: $colorcontact;
        }
        &:hover{
            text-decoration: underline;
        }
    }
    &__content{
        margin: 64px 0;
        color: $colorcontact;
    }
    &__title{
        margin: 16px 0;
    }
    &__desc{
        margin-bottom: 16px;
        a{
            color: $colorcontact;
        }
    }
    &__btn{ 
        padding: 10px 0;
        margin-top: 16px;
        a{
            &:hover{
                background-color: $colorprimary;
            }
        }
    }
}