.contact{
    background-color: $bgcolorcontact;
    width: 100%;
    text-align: center;
    padding-bottom: 64px;
    &__content{
        width: 70%;
        margin: 0 auto;
    }
    &__title{
        padding: 64px 0 16px 0;
    }
    &__desc{
        margin-bottom: 32px;
    }
    &__form{
        display: flex;
        text-align: start;
        justify-content: space-evenly;
    }
    // &__form__left,&__form__right{
    //     width: 40%;
    // }
    &__form__email,&__form__name,&__form__gender{
        margin: 16px 0;
    }
    &__form__control{
        margin-top: 4px;
        padding: 8px 16px;
        width: 100%;
    }
    &__form__controldob{
        margin: 8px 0;
        width: 64px;    
        padding: 8px 16px;
    }
    &__radio{
        margin: 16px 0;
    }
    &__radio__lable{
        margin:0 8px;
    }
    &__btn__subscribe{
        margin-top: 32px;
        padding: 12px 24px;
        background-color: $colorprimary;
        color: #fff;
        text-transform: uppercase;
        border: none;
        &:hover{
            background-color: $colorsub;
            transition: 0.5;
        }
    }
}