.news{
    width: 100%;
    &__top{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 32px 0;
    }
    &__top--item{
        background-color: $colorprimary;
        color: #fff;
        width: calc(( 100% - 60px ) / 4 );
        position: relative;
        // width: 23%;
    }
    &__item--img{
        width: 100%;
        height: auto;
    }
    &__item--content{
        height: 360px;
        padding: 16px 24px;
    }
    &__item--title{
        margin-bottom:  16px ;
    }
    &__item--desc{
        margin-bottom:  8px ;
    }
    &__mobile--desc{
        display: none
    }
    &__mobile--btn{
        position: absolute;
        bottom: 4%;
    }
    &__item--btn{
        @include btn;
        margin: 32px 0 32px 0;
        &:hover{
            background-color: $bgcolorcontact;
            color: #000;
        }
    }
    &__bottom{
        margin: 64px 0;
    }
    &__bottom--title{
        color: $colorprimary;
        margin-bottom: 24px;
    }
    &__bottom--videos{
        display: flex;
        // flex-wrap: wrap;
        justify-content: space-between;
    }
    &__video--main{
        position: relative;
    }
    &__main--video{
        display: inline-block;
        width: 97%;
    }
    &__video--play{
        position: absolute;
        left: 46%;
        top: 41%;
        width: 7%;
    }
    &__videos--sub{
        width: 26%;
    }
    &__videos--subnews{
        width: 100%;
    }
    &__video--playsub{
        position: absolute;
        transform: translateY(130%);
        left: 73%;
        width: 2%;
    }
    &__bottom--btn{
        text-align: center;
        margin: 24px 0;
    }
    &__btn{
        @include btn;
            padding: 12px 16px;
        &:hover{
            background-color: $colorprimary;
            color: #fff;
        }
    }
}