.slider{
    margin-top: 132px;
    position: relative;
    width: 100%;
    &__img{
        width: 100%;
    }
    &__bgimg{
        width: 100%;
        height: auto;
        display: block;
    }
    &__content{
        position: absolute;
        bottom: 42%;
        width: 35%;
        color: #fff;
    }
    &__mobile{
        display: none;
    }
    &__title{
        margin-bottom: 20px;
    }
    &__desc{
        margin-bottom: 20px;
    }
    &__btn{
        a{
            &:hover{
                background-color: $colorprimary;
                color: #fff;
            }
        }
    }
    &__text{
        width: 100%;
        color: #fff;
        background-color: $colorsub;
    }
    &__text__body{
        padding: 16px 0;
    }
    &__text__title{
        display: inline-block;
        margin-bottom: 8px;
    }
    &__text__desc{
        margin: 8px 0;
    }
    &__text__btn,&__mobile__btn{
        float: right;
        transform: translateY(-65px);
        &:hover{
            background-color: $colorprimary;
            color: #fff;
        }
    }
    &__mobile__btn{
        display: none;
    }
}