.container{
    width: 1180px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.btn{
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 18px;
    background-color: #f15f4e;
    color: #fff;
    display: inline-block;
}
.btn__white{
    background-color: #fff;
    color:#f15f4e;
}