@mixin borderline {
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        border: 1px solid #f15f4e;
        z-index: -1;
    
    }
    
}