@mixin btn{
        text-transform: uppercase;
        text-decoration: none;
        padding: 14px 18px;
        background-color: $colorsub;
        color: #fff;
        display: inline-block;
}
@mixin btn__white{
    background-color: #fff;
    color:$colorsub;
}